doctype html
html(data-ng-app="nemrefusion")
	head
		title Nem Refusion
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/css/nemrefusion.mobile.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		// Main app js
		script(src='/scripts/head.js')
		block head
	body
		block body
		section.nemrefusion(data-ng-controller="ScrollCtrl", data-ng-style="css")
			block glovalVars

			//div.dev(data-ng-controller="devCtrl")
				div.dev__log(data-ng-repeat="log in data.logList track by $index", data-ng-click="showLog(log.id)", data-ng-class="{'dev__log--active': log.id === data.logActiveId}") {{log.log}} {{log.name}} {{log.id}}
				div.dev__modal(data-ng-class="{'dev__modal--show': states.logShow}")
					div(ng-bind-html="data.logContent")
					div.dev__modalclose(data-ng-click="hideLog()") x

			header.header.query--desktop
				div.container.container--line.container--nopadding
					div.container__content
						div.container__inner
							div.header__upper
								a.logo(href="#")
									img(src="/img/graphic/logo.png", alt="Nem Refusion")
									//div.prototype(style="width: 330px;height: 50px;")
										div.prototype__name Logo

			div.overlay.container(data-ng-controller="overlayCtrl", data-ng-class="{'overlay--show':states.show}")


			div.sticky.sticky--header.query--desktop(data-role="navigation", data-ng-style="css", data-ng-controller="StickyCtrl", data-ng-class="{'sticky--fixed': states.sticky}", data-sticky-topoffset="0")
				nav.container.container--line.container--paddingtop
					div.container__content
						div.container__inner
							//ul.inlinelist
								li.inlinelist__item
									div.prototype(style="width:600px;")
										div.prototype__name Menu
								li.inlinelist__item
									a.btn.btn--orange Gå til indberetning
								li.inlinelist__item
									div.prototype(data-ng-click="toggleSearch()", data-ng-class="{'prototype--highlight': states.showSearch}")
										div.prototype__name Søg
							//div.prototype
								div.prototype__name Menu
							ul.inlinelist.primmenu(data-ng-controller="PrimmenuCtrl")
								li.inlinelist__item.primmenu__item.primmenu__item--active(data-ng-controller="PrimmenuItemCtrl")
									a Hvad er nemrefusion?
								li.inlinelist__item.primmenu__item(data-ng-controller="PrimmenuItemCtrl")
									a Sådan indberetter du
								li.inlinelist__item.primmenu__item(data-ng-controller="PrimmenuItemCtrl")
									a Nyttig information
								li.inlinelist__item.primmenu__item(data-ng-controller="PrimmenuItemCtrl")
									a Nyheder og support
								li.inlinelist__item.primmenu__item
									a.btn.btn--orange Gå til indberetning
								li.inlinelist__item.primmenu__item(data-ng-controller="PrimmenuItemCtrl", data-ng-class="{'primmenu__item--active': states.showSearch}")
									a(data-ng-click="toggleSearch()") Søg
								div.primmenu__indicator(data-ng-style="indicator.css", data-ng-class="{'primmenu__indicator--show': states.showIndicator}")
					div.container.sticky__search(data-ng-class="{'sticky__search--show': states.showSearch}")
						div.container__content
							div.container__inner Søgning
								div(data-ng-click="toggleSearch(false)") x


			div.header.query--tablet.query--mobile
				nav.container.container--line.header__sticky(data-role="navigation", data-ng-style="css", data-ng-controller="StickyCtrl", data-ng-class="{'header__sticky--fixed': states.sticky}", data-sticky-topoffset="0")
					div.container__content
						div.container__inner
							div.prototype(style="width:50px; height: 50px; float:left; margin-right: 20px;", data-ng-click="toggleMobileMenu()")
								div.prototype__name m
							div.prototype(style="width:150px; height: 50px;")
								div.prototype__name Logo
					div.header__search(data-ng-class="{'header__search--show': states.showSearch}")
						div.container
							div.container__content
								div.container__inner Søgning


			div.foxhound.query.query--mobile.query--tablet(data-ng-controller="FoxhoundCtrl", data-ng-class="{'foxhound--show':states.show}")
				//div.foxhound__switch(data-ng-click="toggleShow()")
				div.prototype
					div.container
						div.container__content
							div.container__inner
								div.prototype(style="height:400px;")
									div.prototype__name Foxhound


			block content


			section.partial.partial--lightgray.container
				div.container__content
					div.container__inner Footer




		script(src='/scripts/nemrefusion.js')