doctype html
html(data-ng-app="nemrefusion")
	head
		title Nem Refusion
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		link(rel='stylesheet', href='http://fast.fonts.net/cssapi/1e457648-3309-409a-bd99-0042ef6cab84.css')
		link(rel='stylesheet', href='/css/nemrefusion.css')
		// Main app js
		script(src='/scripts/head.js')
		block head
	body
		block body
		section.nemrefusion
			block glovalVars

			//div.dev(data-ng-controller="devCtrl")
				div.dev__log(data-ng-repeat="log in data.logList track by $index", data-ng-click="showLog(log.id)", data-ng-class="{'dev__log--active': log.id === data.logActiveId}") {{log.log}} {{log.name}} {{log.id}}
				div.dev__modal(data-ng-class="{'dev__modal--show': states.logShow}")
					div(ng-bind-html="data.logContent")
					div.dev__modalclose(data-ng-click="hideLog()") x

			header.header
				div.container.container--line
					div.container__content
						div.container__inner
							div.header__upper
								a.logo
									//img(src="http://placehold.it/150x70", alt="Nem Refusion")
									div.prototype(style="width: 330px;height: 50px;")
										div.prototype__name Logo

				nav.container.container--line.header__sticky(data-role="navigation", data-ng-style="css", data-ng-controller="StickyCtrl", data-ng-class="{'header__sticky--fixed': states.sticky}", data-sticky-topoffset="0")
					div.container__content
						div.container__inner
							div.prototype
								div.prototype__name Menu
							//ul.inlinelist
								li.inlinelist__item Hvad er nemrefusion?
								li.inlinelist__item Sådan indberetter du
								li.inlinelist__item Nyttig information
								li.inlinelist__item Nyheder og support
								li.inlinelist__item Gå til indberetning
								li.inlinelist__item Søg





			block content


			div.prototype(style="height: 300px; width: 100%;")
				div.prototype__name Footer




		script(src='/scripts/nemrefusion.js')