doctype html
html(data-ng-app="nemrefusion")
	head
		title Nem Refusion
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		//meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/nemrefusion.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic')
		//link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		// Main app js
		script(src='./scripts/head.js')
		block head
	body
		block body
		section.nemrefusion(data-ng-controller="ScrollCtrl", data-ng-style="scrollctrl.css")
			block glovalVars

			//div.dev(data-ng-controller="devCtrl")
				div.dev__log(data-ng-repeat="log in data.logList track by $index", data-ng-click="showLog(log.id)", data-ng-class="{'dev__log--active': log.id === data.logActiveId}") {{log.log}} {{log.name}} {{log.id}}
				div.dev__modal(data-ng-class="{'dev__modal--show': states.logShow}")
					div(ng-bind-html="data.logContent")
					div.dev__modalclose(data-ng-click="hideLog()") x

			header.header.query--desktop
				div.container.container--line.container--nopadding
					div.container__content
						div.container__inner
							div.header__upper
								a.logo(href="#")
									img(src="./img/graphic/logo.png", alt="Nem Refusion")
									//div.prototype(style="width: 330px;height: 50px;")
										div.prototype__name Logo


			header.header.query--tablet.query--mobile
				div.container.container--line.container--nopadding
					div.container__content
						div.container__inner
							div.header__upper
								a.logo(href="#")
									img(src="./img/graphic/logo.png", alt="Nem Refusion")


			div.overlay(data-ng-controller="overlayCtrl", data-ng-class="{'overlay--show':states.show}")


			div.sticky.sticky--header.query--desktop(data-role="navigation", data-ng-style="css", data-ng-controller="StickyCtrl", data-ng-class="{'sticky--fixed': states.sticky}", data-sticky-topoffset="0")
				nav.container.container--line.container--paddingtop
					div.container__content
						div.container__inner
							//div.prototype
								div.prototype__name Menu
							ul.inlinelist.primmenu(data-ng-controller="PrimmenuCtrl")
								li.inlinelist__item.primmenu__item.primmenu__item--active(data-ng-controller="PrimmenuItemCtrl")
									a Hvad er nemrefusion?
								li.inlinelist__item.primmenu__item(data-ng-controller="PrimmenuItemCtrl")
									a Sådan indberetter du
								li.inlinelist__item.primmenu__item(data-ng-controller="PrimmenuItemCtrl")
									a Nyttig information
								li.inlinelist__item.primmenu__item(data-ng-controller="PrimmenuItemCtrl")
									a Nyheder og support
								li.inlinelist__item.primmenu__item
									a.btn.btn--orange Gå til indberetning
								li.inlinelist__item.primmenu__item(data-ng-controller="PrimmenuItemCtrl", data-ng-class="{'primmenu__item--active': states.showSearch}")
									a(data-ng-click="toggleSearch(); lockIndicator()") Søg
								div.primmenu__indicator(data-ng-style="indicator.css", data-ng-class="{'primmenu__indicator--show': states.showIndicator}")
					div.container.sticky__search(data-ng-class="{'sticky__search--show': states.showSearch}")
						div.container__content
							div.container__inner Søgning
								div(data-ng-click="toggleSearch(false); releaseIndicator()") x



			div.sticky.sticky--header.query--tablet.query--mobile(data-role="navigation", data-ng-style="css", data-ng-controller="StickyCtrl", data-ng-class="{'sticky--fixed': states.sticky}", data-sticky-topoffset="0")
				nav.container.container--line.container--paddingtop
					div.container__content
						div.container__inner
							//div.prototype
								div.prototype__name Menu
							ul.inlinelist.primmenu(data-ng-controller="PrimmenuCtrl")
								li.inlinelist__item.primmenu__item(data-ng-click="toggleMobileMenu()")
									a Menu
								li.inlinelist__item.primmenu__item
									a.btn.btn--orange Gå til indberetning
								li.inlinelist__item.primmenu__item(data-ng-class="{'primmenu__item--active': states.showSearch}")
									a(data-ng-click="toggleSearch(); lockIndicator()") Søg
								div.primmenu__indicator(data-ng-style="indicator.css", data-ng-class="{'primmenu__indicator--show': states.showIndicator}")
					div.container.sticky__search(data-ng-class="{'sticky__search--show': states.showSearch}")
						div.container__content
							div.container__inner Søgning
								div(data-ng-click="toggleSearch(false); releaseIndicator()") x

			div.sticky.sticky--mobilemenu.query--tablet.query--mobile(data-ng-style="css", data-ng-controller="StickyCtrl", data-ng-class="{'sticky--fixed': states.sticky}", data-sticky-fill="true", data-sticky-topoffset="60")
				div.foxhound(data-ng-controller="FoxhoundCtrl", data-ng-class="{'foxhound--show':foxhoundctrl.states.show}", data-ng-style="childcss")
					div.mobilemenu(data-ng-controller="mobilemenuCtrl")
						ul.mobilemenu__lv1
							li.mobilemenu__item
								a Hvad er nemrefusion?
							li.mobilemenu__item
								a Sådan indberetter du
							li.mobilemenu__item
								a Nyttig information
								div.mobilemenu__togglesub(data-ng-click="toggleSubItems(1)") +
							li.mobilemenu__lv2(data-ng-class="{'mobilemenu__lv2--unfolded': check(1)}")
								ul
									li.mobilemenu__item.mobilemenu__item--category Vejledninger
									li.mobilemenu__item
										a Selvstændige
									li.mobilemenu__item
										a Kommuner
									li.mobilemenu__item.mobilemenu__item--category Regler og lovstof
									li.mobilemenu__item
										a Regler for sygedagpenge
									li.mobilemenu__item
										a Regler for barselsdagpenge
							li.mobilemenu__item
								a Nyheder og Support
								div.mobilemenu__togglesub +
							li.mobilemenu__item
								a Lorem
							li.mobilemenu__item
								a Lorem
							li.mobilemenu__item
								a Lorem
							li.mobilemenu__item
								a Lorem
							li.mobilemenu__item
								a Lorem
							li.mobilemenu__item
								a Lorem

						a.btn Gå til indberetning

			//div.foxhound.query.query--mobile.query--tablet(data-ng-controller="FoxhoundCtrl", data-ng-class="{'foxhound--show':states.show}")
				div.mobilemenu
					ul.mobilemenu__lv1
						li.mobilemenu__item
							a 1
						li.mobilemenu__item
							a 2
						li.mobilemenu__item
							a 3
							ul.mobilemenu__lv2
								li.mobilemenu__item.mobilemenu__item--category Category
								li.mobilemenu__item
									a 3.1
								li.mobilemenu__item
									a 3.2
				//div.foxhound__switch(data-ng-click="toggleShow()")
				| Menu


			block content


			section.partial.container.partial--superlightgray.partial--footer
				div.container__content
					div.container__inner
						div.grid.grid--spacebottom
							a
								img(src="./img/graphic/logo.png", alt="Nem Refusion")
						div.grid.grid--6.grid--spaceright
							ul.list
								li.list__headline Support og Kontakt
								li.list__item.list__item--nobullet Mandag-fredag kl. 08.00 - 16.30
								li.list__item.list__item--nobullet Lørdag-Søndag Lukket

							a.btn KLIK HER
						div.grid.grid--6.grid--spaceleft.grid--spaceright
							ul.list
								li.list__headline Om Nemrefusion
								li.list__item
									a Hvad er NemRefusion
								li.list__item
									a Hvordan indveretter jeg?
								li.list__item
									a Prøv demoløsning
						div.grid.grid--6.grid--spaceleft.grid--spaceright
							ul.list
								li.list__headline headline
								li.list__item 1
								li.list__item 2
								li.list__item 3
								li.list__item 4
						div.grid.grid--6.grid--spaceleft
							ul.list
								li.list__headline headline
								li.list__item 1
								li.list__item 2
								li.list__item 3
								li.list__item 4
						div.partial__footerinfo
							div.rte
								p Udviklet i samarbejde med  KOMBIT  I  Kommunernes Landsforening  I  Virk.dk


		script(src='./scripts/nemrefusion.js')