
$__blockName: 'content';


@include block($__blockName) {
	width: 100%;
	@include e(main) {
		overflow: hidden;
	}
	@include e(aside) {
		float: left;
		width: 300px;
		min-height: 1px;
		margin-right: 20px;
		&:after {
			content: "";
			display: block;
			clear: both;
		}
	}
}

