
$__blockName: 'header';

$__headerStickyHeight: 60px;

@include block($__blockName) {
	width: 100%;
	background-color: rgba($color_white, 0.8);
	padding-bottom: $__headerStickyHeight;
	margin-bottom: 35px;
	z-index: 70;
	&,* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	// Media Queries (header)
	@include mediaQueries(tablet){
		background-color: $color_white;
	};
	@include mediaQueries(mobile){
		background-color: $color_white;
	};
	@include e(sticky) {
		position: absolute;
		background-color: inherit;
		height: $__headerStickyHeight;
		padding: 0;
		z-index: 70;
		@include m(fixed) {
			position: fixed;
			top: 0;
		}
	}
	@include e(upper) {
		height: 100px;
	}
}
