
$__blockName: 'logo';

@include block($__blockName) {
	z-index: 1;
	display: block;
	a {
		display: block;
	}
	img {
		display: block;
		//margin: 0 auto;
		outline: 0;
	}
	@include mediaQueries(mobile){
		img {
			width: 200px;
		}
	};
}

