extends ../master

block append head

block append body

block append content

	section.container
		div.container__content
			div.container__inner
				div.content

					div.content__main
						div.content__partial
							div.prototype(style="height: 900px;")
								div.prototype__name Main Content
						div.content__partial
							div.prototype(style="height: 400px;")
								div.prototype__name Main Content



	section.container
		div.container__content
			div.container__inner

//Har ikke problemer med touch events scroll. Der opdaterer det fint. Det er mere når reloader sitet