extends ../master

block append head

block append body

block append content


	section.container.partial.partial--blue
		div.container__content
			div.container__inner
				h1 Velkommen til NemRefusion.dk
				p NemRefusion er en løsning for arbejdsgivere of selvstændige til indeberetning af sygedagpenge- og barseldagpenge.
				p Her på siden kan du finde information om, hvordan du indberetter og hvilke regler der gælder.
				p Når du er klar til at indberette, så tryk på knappen "Gå til indberetning" og du kan starte din indberetning på virk.dk.
				img(src="/img/content/partial_img_1.png", alt="")




	section.partial.container
		div.container__content
			div.container__inner White

	section.partial.partial--blue.container
		div.container__content
			div.container__inner Blue

	section.partial.partial--black.container
		div.container__content
			div.container__inner Black

	section.partial.partial--lightgray.container
		div.container__content
			div.container__inner lightgray

	section.partial.partial--lagoon.container
		div.container__content
			div.container__inner Lagoon


	section.partial.container
		div.container__content
			div.container__inner White

	section.partial.partial--blue.container
		div.container__content
			div.container__inner Blue

	section.partial.partial--black.container
		div.container__content
			div.container__inner Black

	section.partial.partial--lightgray.container
		div.container__content
			div.container__inner lightgray

	section.partial.partial--lagoon.container
		div.container__content
			div.container__inner Lagoon

				//div.content
					div.content__main
						div.content__partial
							div.prototype(style="height: 900px;")
								div.prototype__name Main Content
						div.content__partial
							div.prototype(style="height: 400px;")
								div.prototype__name Main Content




//Har ikke problemer med touch events scroll. Der opdaterer det fint. Det er mere når reloader sitet