extends ../master

block append head

block append body

block append content

	section.container
		div.container__content
			div.container__inner
				div.content

					div.content__aside.query.query--desktop
						div.findme(data-ng-controller="StickyCtrl", data-ng-style="css", data-ng-class="{'header__sticky--fixed': states.sticky}", data-sticky-topoffset="90")
							div.prototype(style="height: 300px;")
								div.prototype__name Aside

					div.content__main
						div.content__partial
							div.prototype(style="height: 900px;")
								div.prototype__name Main
						div.content__partial
							div.prototype(style="height: 400px;")
								div.prototype__name Main




//Har ikke problemer med touch events scroll. Der opdaterer det fint. Det er mere når reloader sitet