extends ../master

block append head

block append body

block append content

	section.container
		div.container__content
			div.container__inner
				| Forside
				- for (var i=1; i<=60; i++)
					p Test #{i}