extends ../master_noreponsive

block append head

block append body

block append content

	section.container
		div.container__content
			div.container__inner
				div.content

					div.content__aside.query.query--desktop
						div.sticky.sticky--leftmenu(data-ng-controller="StickyCtrl", data-ng-style="css", data-ng-class="{'sticky--fixed': states.sticky}", data-sticky-topoffset="60")
							div.prototype(style="height: 300px;")
								div.prototype__name Left Menu

					div.content__main
						div.content__partial
							div.prototype(style="height: 900px;")
								div.prototype__name Main Content
						div.content__partial
							div.prototype(style="height: 400px;")
								div.prototype__name Main Content
									//Har ikke problemer med touch events scroll. Der opdaterer det fint. Det er mere når reloader sitet